:root{
  --bg-img: url('../public/img/sprites.png');
  --num-width:14px;
  --num-height:23px;
  --field-width:17px;
  --field-height:17px;
  --smile-width:27px;
  --smile-height:26px;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  background: grey;
  max-width: 274px;
  border: 9px solid grey;
}

.grid-row {
  display: flex;
}

.cp {
  cursor: pointer;
}

.col{
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) 0 -50px;
}
.head-container{
  display: flex;
  flex-wrap: wrap;
  background: grey;
  height: 30px;
  max-width: 274px;
  border: 9px solid grey;
  justify-content: space-between;
}
.timer-container{
  display: flex;
  flex-wrap: wrap;
}

#smile-box {
  cursor: pointer;
}
.counter-container{
  display: flex;
  flex-wrap: wrap;
}

.num-1 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) 0 0;
}

.num-2 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) -14px 0;
}
.num-3 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) -28px 0;
}
.num-4 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) -42px 0;
}
.num-5 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) -56px 0;
}
.num-6 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) -70px 0;
}
.num-7 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) -84px 0;
}
.num-8 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) 41px 0;
}
.num-9 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) 27px 0;
}
.num-0 {
  width: var(--num-width);
  height: var(--num-height);
  background: var(--bg-img) 13px 0;
}
.smile{
  width: var(--smile-width);
  height: var(--smile-height);
  background: var(--bg-img) 0 -24px;
}
.smile-clicked {
  width: var(--smile-width);
  height: var(--smile-height);
  background: var(--bg-img) -27px -24px;
}
.smile-wow {
  width: var(--smile-width);
  height: var(--smile-height);
  background: var(--bg-img) -54px -24px;
}
.smile-cool {
  width: var(--smile-width);
  height: var(--smile-height);
  background: var(--bg-img) 58px -24px;
}
.smile-sad {
  width: var(--smile-width);
  height: var(--smile-height);
  background: var(--bg-img) 31px -24px;
}
.pressed-button{
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) -16px -50px;
}
.flag{
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) -34px 34px;
}
.question-button{
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) -51px 34px;
}
.question-pressed{
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) -67px 35px;
}
.bomb-find{
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) 55px -50px;
}
.bomb-red{
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) 38px -50px
}
.bomb-cross{
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img)  20px -50px;

}
.field-num-1 {
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) 0 17px;
}
.field-num-2 {
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) -16px 17px;
}
.field-num-3 {
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) -34px 17px;
}
.field-num-4 {
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) -50px 17px;
}
.field-num-5{
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) 71px 17px;
}
.field-num-6 {
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) 54px 17px;
}
.field-num-7 {
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) 37px 17px;
}
.field-num-8 {
  width: var(--field-width);
  height: var(--field-height);
  background: var(--bg-img) 20px 17px;
}
