:root {
    --bg-img: url('../public/img/sprites.png');
    --num-width: 14px;
    --num-height: 23px;
    --field-width: 16px;
    --field-height: 16px;
    --smile-width: 27px;
    --smile-height: 26px;
    --shadow: 6px 6px 0 -4px rgba(123, 123, 123) inset,
    -6px -6px 0 -4px rgba(255, 255, 255, 0.6) inset;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #bdbdbd;
    max-width: 258px;
    padding: 1px;
    border: 6px solid #bdbdbd;
    box-shadow: var(--shadow);
}

.grid-row {
    display: flex;
}

.cp {
    cursor: pointer;
}

.col {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) 0 -51px;
}

#global{
    width: 275px;
    height: 318px;
    box-shadow: -8px -8px 4px -5px rgb(123 123 123) inset;
}

.head-container {
    display: flex;
    flex-wrap: wrap;
    background: #bdbdbd;
    height: 35px;
    max-width: 262px;
    border: 5px solid #bdbdbd;
    box-shadow: var(--shadow);
    justify-content: space-between;
    align-items: center;
}

.timer-container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
}

#smile-box {
    cursor: pointer;
}

.counter-container {
    display: flex;
    flex-wrap: wrap;
}

.red-num-1 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) 0 0;
}

.red-num-2 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) -14px 0;
}

.red-num-3 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) -28px 0;
}

.red-num-4 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) -42px 0;
}

.red-num-5 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) -56px 0;
}

.red-num-6 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) -70px 0;
}

.red-num-7 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) -84px 0;
}

.red-num-8 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) 41px 0;
}

.red-num-9 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) 27px 0;
}

.red-num-0 {
    width: var(--num-width);
    height: var(--num-height);
    background: var(--bg-img) 13px 0;
}

.smile {
    width: var(--smile-width);
    height: var(--smile-height);
    background: var(--bg-img) 0 -24px;
}

.smile-clicked {
    width: var(--smile-width);
    height: var(--smile-height);
    background: var(--bg-img) -27px -24px;
}

.smile-wow {
    width: var(--smile-width);
    height: var(--smile-height);
    background: var(--bg-img) -54px -24px;
}

.smile-cool {
    width: var(--smile-width);
    height: var(--smile-height);
    background: var(--bg-img) 58px -24px;
}

.smile-sad {
    width: var(--smile-width);
    height: var(--smile-height);
    background: var(--bg-img) 31px -24px;
}

.pressed-button {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) -17px -51px;
}

.flag {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) -34px 33px;
}

.question-button {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) -51px 33px;
}

.question-pressed {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) -68px 33px;
}

.bomb-find {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) 54px -51px;
}

.bomb-red {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) 37px -51px;
}

.bomb-cross {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) 20px -50px;

}

.field-num-1 {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) 0 16px;
}

.field-num-2 {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) -17px 16px;
}

.field-num-3 {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) -34px 16px;
}

.field-num-4 {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) -51px 16px;
}

.field-num-5 {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) 71px 16px;
}

.field-num-6 {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) 54px 16px;
}

.field-num-7 {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) 37px 16px;
}

.field-num-8 {
    width: var(--field-width);
    height: var(--field-height);
    background: var(--bg-img) 20px 16px;
}
